@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');



body {
  background-image:url(1.jpg);
  font-family:'Roboto Condensed', sans-serif;color:rgb(233, 238, 245);
  font-weight:300;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 110px;
  margin-right: 110px;
  border: 3px double black;
}

body h1 {
  font-family:'Roboto Condensed', sans-serif;
  font-weight:300;
  margin: 15px 20px;
  text-align:center;
}


h2 {
  font-family:'Roboto Condensed',sans-serif;
  text-align:center;
}


h3 {
  color: rgb(0, 0, 0);
}


p {
  color: rgb(0, 0, 0);
  letter-spacing: .5px;
  word-spacing:2px;
  text-indent: 20px;
}

mark { background-color: white }

#Pre_operative {
  width:auto;
  margin:auto;
  margin-top: auto;
  text-align:center;
  position: relative;
}


  
article {
  vertical-align: top;
  max-width: 300px;
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
  margin: auto;
  height: auto;
  background: rgb(168, 182, 287);
}

formF{
  vertical-align: top;
  max-width: 350px;
  max-height: 500px;
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
  margin: auto;
  height: auto;;
  background: rgb(168, 182, 287);
}


aside {
  vertical-align: top;
  width: 900px;
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
  margin: auto;
  height: auto;;
  background: rgb(168, 182, 287);
}

.main-info {  
  min-height: 250px;  
  max-height: 450px;  
  opacity: 0.85;
  width: 90%;
}

.main-def {  
  max-height: 650px;  
  opacity: 0.85;
  width: 90%;
}


.dropbtn{
  width: 95%;
  background: #060714;
  padding: 1.1px 500 1.1px 10%;
  opacity: 0.7;
  font-size: 1em;
  font-family:'Roboto Condensed', sans-serif;
  font-weight: lighter;
  color: #FFFFFF;
}


.dropdown-content{
  display: none;
  position: absolute;
  width: 100%;
  background: #060714;
  opacity: 0.7;
}


.dropdown-content a{
  font-size: 1.2em;
  color: #FFFFFF;;
  text-decoration: none;
  font-weight: lighter;
  font-family:'Roboto Condensed', sans-serif;
  letter-spacing: 1.5px;
}

#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 80%;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  display: none;
}
# popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
}


#popup-overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 80%;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  display: none;
}
# popup1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
}



#popup-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 90%;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  display: none;
}
# popup2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
}
