@{ 
     
    }
<div>
    @ViewBag.Greeting, спасибо, что зашли
    <p>
        @Html.ActionLink("Введите имя", "InputData")
    </p>
    @Html.ActionLink("Посмотрите, кто уже здесь", "OutputData")
</div>
